@import "../../styles/settings/_settings";

.copyright {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: $space-md;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  margin-bottom: $space-xs;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: $space-sm;
}
