$color-primary: #FF445C;
$color-primary-100: #FFF0F2;
$color-primary-200: #FFC6CD;
$color-primary-300: #FFA2AE;
$color-primary-400: #FF7A8B;
$color-primary-500: #FD445B;
$color-primary-600: #D1384B;
$color-primary-700: #AE2E3F;
$color-primary-800: #8B2532;
$color-primary-900: #6E1D28;

$color-grey: #69788F;
$color-grey-100: #F2F4F6;
$color-grey-200: #ECEEF1;
$color-grey-300: #D0D5DC;
$color-grey-400: #B5BDC8;
$color-grey-500: #9BA5B4;
$color-grey-600: #7F8C9F;
$color-grey-700: #546072;
$color-grey-800: #424C5A;
$color-grey-900: #343C47;

$color-black: #000;
$color-white: #FFF;

$color-purple: blueviolet;

$text-color-primary: $color-primary;
$text-color-link: $color-primary;
$text-color-default: $color-grey-900;
$text-color-light: $color-grey-700;
$text-color-disabled: $color-grey-600;
$text-color-white: $color-white;
$text-color-black: $color-black;
